.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 984px;
}

.lead__title {
    width: 793px;
    font-family: Inter;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

.lead__subtitle{
    width: 720px;
    font-family: Inter;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
    margin: 32px 0 64px 0; 
}

.lead__image {
    filter: grayscale(100%);   
    width: 100%;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .lead {
        width: 720px;
    }

    .lead__title {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        width: 288px;
    }

    .lead__title{
        font-size: 40px;
        line-height: 44px;
        width: 288px;
    }

    .lead__subtitle{
        font-size: 16px;
        line-height: 20px;
        width: 288px;
    }


}