.place {
    display: grid;
    grid-template-columns: 460px auto;
    grid-template-rows: auto 460px auto;
    grid-template-areas: "title website" "image paragraphs" "button paragraphs";
    column-gap: 40px;
    row-gap: 48px;
}

.place__title {
    grid-area: title;
    font-family: Inter, sans-serif;
    font-weight: 900;
    font-size:72px;
    line-height:76px;
    margin: 0;
    color: #FFFFFF;
}

.place__title_large {
    width: 584px;
}

.place__website {
    grid-area: website;
    align-self: end;
}

.place__url-heading {
    font-family:Inter, sans-serif;
    font-weight:400;
    font-size:12px;
    line-height:14.52px;
    color:#AAAAAA;
    margin: 0 0 8px 0;
}

.place__artist {
    font-family:Inter, sans-serif;
    font-weight:400;
    font-size:18px;
    line-height:22px;
    color:#FFFFFF;
    margin: 0;
}

.place__image {
    grid-area: image;
    width: 100%;
    height: 460px;
    object-fit: cover;
}

.place__paragraphs {
    grid-area: paragraphs;
    font-family:Inter, sans-serif;
    font-weight:400;
    font-size: 18px;
    line-height:29.34px;
    color:#FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 25px;    
}

.place__paragraph{
    margin: 0;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .place {
        grid-template-columns: 340px auto;
        grid-template-rows: auto 340px auto;
    }

    .place__title{
        font-size: 42px;
        line-height: 46px;
    }

    .place__paragraphs{
        font-size: 16px;
        line-height: 26.08px;
    }

    .place__image{
        height: 340px;
    }

    .place__title_large{
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: 320px;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "title" "website" "image" "paragraphs" "button";
    }

    .place__title{
        font-size: 32px;
        line-height: 35px;
        margin-left: 18px;
        margin-right: 18px;
    }

    .place__paragraphs{
        font-size: 16px;
        line-height: 26.08px;
        margin-left: 18px;
        margin-right: 18px;
    }

    .place__image{
        height: 320px;
    }

    .place__title_large{
        width: 100%;
    }

    .place__website{
        margin-left: 18px;
        margin-right: 18px;
    }

    .place__title_large {
        width: 288px;
    }
}